
body {
    height: 1000px;
    background-color: #cccccc;
    background-image: linear-gradient(#FDECDB, #fdd2a8);
    font-family: Tahoma, Times; /*Default to Times if browser doesn't support Tahoma*/
}

.emptybox{
    display: flex;
    justify-content: center;
}

.ins-selfie {
    height: 400px;
    border-radius: 50px;
}

.maj-title {
    text-align: center;
    color: white;
}

.code-img {
    background-image: url(../images/coding-portfolio.jpeg);
    background-size:cover;
    border-radius: 10px;
}